#budgetAmount {
    color: green;
}

#expenses {
    color: red;
}

#main {
    text-align: center;
}

#leftContainer {
    float: left;
    width: 33%;
    border: green;
    border-style: solid;
}

#centerContainer {
    text-align: center;
    width: 32%;
    margin: auto;
    border: red;
    border-style: solid;
}

#rightContainer {
    position: absolute; bottom: 0;
    width: 33%;
    border: black;
    border-style: solid;
    line-height: normal;
}